<!DOCTYPE HTML PUBLIC "-//IETF//DTD HTML//EN">
<html> <head>
<title>Memos</title>

  <!-- 'viewport' is used by bootstrap to respond to device size -->
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!-- Javascript:  JQuery from a content distribution network (CDN) -->
  <script
     src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js">
  </script>

  <!-- Bootstrap includes javascript and css  (must follow jquery) -->
  <link rel="stylesheet"
   href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
   <script
    src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js">
</script>

   <!-- Our own style sheet -->
   <link rel="stylesheet" href="/static/css/memos.css" />


</head>
<body>
<div class="container">

<!-- Flashed messages before content -->
{% with messages = get_flashed_messages() %}
  {% if messages %}
    <ul class=flashes>
    {% for message in messages %}
      <li>{{ message }}</li>
    {% endfor %}
    </ul>
  {% endif %}
{% endwith %}

<h1>Memos</h1>
<br />

{% if g.memos %}
    <div align="right">
        <a class="link" href="/add">Add Memo</a>
    </div>
    <br />
    {% for memo in g.memos %}
      <div class="memo">
        <hr width=100% align=left>
        <div class="date">
           <p class="memo_date" name="memo_date" id="{{ memo.date }}">{{ memo.date | humanize }}:
           <button type="button" name="delete" style="float: right;">
		Delete Memo
	   </button>
           </p>
        <input type="hidden" name="raw_date" value="{{ memo.date }}">
        </div>
        <div class="text">
            <p class="my_memo memo_text" name="memo_text">
                {% autoescape false %}
                  {{ memo.text }}
                {% endautoescape %}
            </p>
        </div>
      </div>
  {% endfor %}
{% else %}
  <p class="my_memo">You do not yet have any memos.<br>Click <a href="/add">Add Memo</a> to create one.</p>  
{% endif %}

<script>

$('button[name="delete"]').click(
    function() {
        var memo_entry = $(this).parents(".memo");
        var del_url = {{request.script_root|tojson|safe}} + "/_del_memo";
        var memo_text = memo_entry.find("p[name='memo_text']").html().trim();
        console.log("memo text is: "+memo_text);
        var memo_date = memo_entry.find("input[name='raw_date']").attr("value");
        console.log("memo date is: "+memo_date);
        $.getJSON(del_url, {memo_text: memo_text, memo_date: memo_date}, function(){});
	window.location = "/";
    });

</script>

</div> <!-- container -->
</body>
</html>
